{
  "openapi": "3.0.0",
  "info": {
    "title": "YTAPI",
    "version": "1.0.0",
    "description": "API contenant des informations sur des youtubeurs avec leur nom de chaine leur theme ainsi que leur nombre d'abonnés"
  },
  "servers": [
    {
      "url": "https://ytapi.mathyslamour.fr"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Entrez votre Token JWT obtenu après connexion"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/login": {
      "post": {
        "summary": "Connexion administrateur pour obtenir le token JWT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "Username"
                  },
                  "password": {
                    "type": "string",
                    "example": "votre_mot_de_passe"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Connexion réussie avec token"
          },
          "401": {
            "description": "Identifiants invalides"
          }
        }
      }
    },
    "/YTAPI": {
      "get": {
        "summary": "Récupérer la liste des YouTubeurs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Numéro de page ",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès"
          }
        }
      },
      "post": {
        "summary": "Ajouter un YouTubeur (Admin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nom_chaine"
                ],
                "properties": {
                  "nom_chaine": {
                    "type": "string",
                    "example": "Squeezie"
                  },
                  "nombre_abonnes": {
                    "type": "string",
                    "example": "18.5M"
                  },
                  "theme": {
                    "type": "string",
                    "example": "Gaming / Divertissement"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Créé avec succès"
          },
          "401": {
            "description": "Non autorisé (token manquant ou invalide)"
          }
        }
      }
    },
    "/YTAPI/{id}": {
      "get": {
        "summary": "Récupérer un YouTubeur par son ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "YouTubeur trouvé"
          },
          "404": {
            "description": "Non trouvé"
          }
        }
      },
      "put": {
        "summary": "Modifier un YouTubeur (Admin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nom_chaine": {
                    "type": "string",
                    "example": "MrBeast"
                  },
                  "nombre_abonnes": {
                    "type": "string",
                    "example": "518M"
                  },
                  "theme": {
                    "type": "string",
                    "example": "Entertainment"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Mis à jour"
          },
          "401": {
            "description": "Non autorisé"
          },
          "404": {
            "description": "Non trouvé"
          }
        }
      },
      "delete": {
        "summary": "Supprimer un YouTubeur (Admin)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Supprimé avec succès"
          },
          "401": {
            "description": "Non autorisé"
          },
          "404": {
            "description": "Non trouvé"
          }
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ]
    }
  }
}